@font-face {
  font-family: "Undead Pixel 11";
  src: url(/fonts/Undead_Pixel_11.ttf);
}
@font-face {
  font-family: "Undead Pixel 8";
  src: url(/fonts/Undead_Pixel_8.ttf);
}

.chat-page {
  display: flex;
  flex-direction: column;
  max-width: var(--page-max-width);
  margin: auto;
  padding-left: 30px;
  padding-bottom: 20px;
  row-gap: 20px;
  width: 350px;
}

.chat-page-messages-container {
  /* variables */
  --before-after-div-distance: 3px;
  --background-color: rgb(65, 67, 72);
  --chat-page-messages-background-color: #e6c9b3;
  --highlight-color: #ffffff;
  --secondary-text: rgb(140, 125, 96);
  --inner-text-padding-x: 12px;
  --inner-text-padding-y: 6px;
  /* properties */
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: calc(100vh - 160px);
  background-color: var(--chat-page-messages-background-color);
  padding: 20px 10px;
  overflow-y: auto;
  margin-top: 20px;
  margin-right: 15px;
  position: relative;
  /* font style */
  font-size: 16px;
  line-height: 16px;
  font-family: "Undead Pixel 8", sans-serif;
}

.chat-page-messages-container::-webkit-scrollbar {
  width: 8px;
}

.chat-page-messages-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.chat-page-messages-container::-webkit-scrollbar-thumb {
  background-color: rgb(155, 138, 106);
}

.chat-page-messages-container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(99, 75, 73);
}

.chat-msg-line {
  display: flex;
  column-gap: 14px;
  align-items: center;
  margin-bottom: 3px;
}

.chat-message {
  /* properties */
  display: flex;
  align-items: center;
  column-gap: 10px;
  max-width: 250px;
  word-break: break-word;
  padding: var(--before-after-div-distance);
  color: white;
  position: relative;
  /* font style */
  font-size: 22px;
  line-height: 22px;
  font-family: "Undead Pixel 11", sans-serif;
}

.chat-message::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: calc(2 * var(--before-after-div-distance));
  right: calc(2 * var(--before-after-div-distance));
  background-color: var(--background-color);
}

.chat-message::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: calc(2 * var(--before-after-div-distance));
  bottom: calc(2 * var(--before-after-div-distance));
  left: 0;
  right: 0;
  background-color: var(--background-color);
}

.chat-message.highlight-message {
  margin: calc(3 * var(--before-after-div-distance)) 0;
}

.highlight-message-back {
  display: none;
}

.highlight-message .highlight-message-back {
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--highlight-color);
}

.highlight-message .highlight-message-back::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: calc(-1 * var(--before-after-div-distance));
  bottom: calc(-1 * var(--before-after-div-distance));
  left: var(--before-after-div-distance);
  right: var(--before-after-div-distance);
  background-color: var(--highlight-color);
}

.highlight-message .highlight-message-back::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: var(--before-after-div-distance);
  bottom: var(--before-after-div-distance);
  left: calc(-1 * var(--before-after-div-distance));
  right: calc(-1 * var(--before-after-div-distance));
  background-color: var(--highlight-color);
}

.chat-bubble-tail-graphic {
  position: absolute;
  z-index: 2;
  height: calc(2 * var(--before-after-div-distance));
  width: calc(2 * var(--before-after-div-distance));
  background-color: var(--background-color);
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.chat-bubble-tail-graphic::before {
  content: "";
  position: absolute;
  height: var(--before-after-div-distance);
  width: var(--before-after-div-distance);
  background-color: var(--background-color);
  right: 100%;
  top: 0;
}

.chat-bubble-tail-graphic::after {
  content: "";
  position: absolute;
  height: var(--before-after-div-distance);
  width: var(--before-after-div-distance);
  background-color: var(--background-color);
  top: 100%;
  right: 0;
}

.king-message {
  --background-color: #b70000;
  --highlight-color: #ffea4b;
}

.my-message .chat-bubble-tail-graphic {
  right: auto;
  left: calc(100% + var(--before-after-div-distance));
  transform-origin: 0 0;
  transform: scaleX(-1) translateX(calc(-1 * var(--before-after-div-distance)))
    translateY(-50%);
}

.chat-inner-text {
  position: relative;
  z-index: 2;
  background-color: var(--background-color);
  width: 100%;
  padding: var(--inner-text-padding-y) var(--inner-text-padding-x);
}

.chat-msg-header {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 4px;
}

.chat-msg-portrait {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat-msg-text {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  align-items: center;
}

.chat-msg-address {
  color: var(--secondary-text);
}

.other-line {
  align-self: flex-start;
}

.my-line {
  align-self: flex-end;
  justify-content: flex-end;
}

.other-message {
  border-bottom-left-radius: 0;
}

.my-message {
  border-bottom-right-radius: 0;
  --background-color: #299447;
}

.chat-msg-time {
  display: flex;
  color: var(--secondary-text);
  margin-top: 4px;
}

.chat-page-send-container {
  /* variables */
  --before-after-div-distance: 3px;
  --background-color: #715743;
  --border-color: #493627;
  --inner-text-padding-x: 12px;
  --inner-text-padding-y: 6px;
  /* properties */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 10px;
}

.chat-input-message {
  /* variables */
  --background-color: rgb(255, 255, 255);
  /* properties */
  flex-grow: 1;
  overflow: visible;
  border-radius: 0px;
  background-color: var(--background-color);
  border: none;
  padding: 8px 16px;
  margin-right: 20px;
  height: 42px;
  /* font style */
  font-size: 16px;
  line-height: 16px;
  font-family: "Undead Pixel 8", sans-serif;
}

.chat-send-button {
  width: 90px;
  height: 40px;
  background-color: transparent;
  margin-left: 10px;
  position: relative;
  border-radius: 0px;
  padding: var(--before-after-div-distance);
  /* font style */
  font-size: 16px;
  line-height: 16px;
  font-family: "Undead Pixel 8", sans-serif;
}

.chat-send-button:hover {
  background-color: transparent;
  --background-color: rgb(169, 109, 85);
}

.chat-send-button:active {
  background-color: transparent;
  transform: translateY(var(--before-after-div-distance));
}

.chat-send-button::before {
  content: "";
  position: absolute;
  top: var(--before-after-div-distance);
  bottom: var(--before-after-div-distance);
  left: calc(3 * var(--before-after-div-distance));
  right: calc(3 * var(--before-after-div-distance));
  z-index: 1;
  background-color: var(--background-color);
}

.chat-send-button::after {
  content: "";
  position: absolute;
  top: calc(3 * var(--before-after-div-distance));
  bottom: calc(3 * var(--before-after-div-distance));
  left: var(--before-after-div-distance);
  right: var(--before-after-div-distance);
  z-index: 1;
  background-color: var(--background-color);
}

.chat-send-button-inner-text {
  position: absolute;
  padding-top: 2px;
  left: calc(2 * var(--before-after-div-distance));
  right: calc(2 * var(--before-after-div-distance));
  top: calc(2 * var(--before-after-div-distance));
  bottom: calc(2 * var(--before-after-div-distance));
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.chat-send-button-back {
  position: absolute;
  top: var(--before-after-div-distance);
  bottom: var(--before-after-div-distance);
  left: var(--before-after-div-distance);
  right: var(--before-after-div-distance);
  background-color: var(--border-color);
}

.chat-send-button-back::before {
  content: "";
  position: absolute;
  top: var(--before-after-div-distance);
  bottom: var(--before-after-div-distance);
  left: calc(-1 * var(--before-after-div-distance));
  right: calc(-1 * var(--before-after-div-distance));
  background-color: var(--border-color);
}

.chat-send-button-back::after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--before-after-div-distance));
  bottom: calc(-1 * var(--before-after-div-distance));
  left: var(--before-after-div-distance);
  right: var(--before-after-div-distance);
  background-color: var(--border-color);
}

.chat-page-list-container {
  display: flex;
  column-gap: 15px;
  padding-bottom: 6px;
  overflow-x: auto;
}

.chat-page-list {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
}

.chat-page-list:hover {
  background-color: rgb(238, 232, 232);
}

.chat-page-list.selected {
  background-color: rgb(238, 232, 232);
}

.chat-page-list-portrait {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.chat-page-list-nickname {
  font-weight: 600;
}

.chat-page-list-addr {
  color: var(--secondary-text);
}
