.chat-page {
  display: flex;
  flex-direction: column;
  max-width: var(--page-max-width);
  margin: auto;
  padding-left: 30px;
  padding-bottom: 30px;
  row-gap: 20px;
  width: 350px;
}

.chat-page-messages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: calc(100vh - 200px);
  background-color: rgb(227, 248, 227);
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 20px 10px;
  overflow-y: auto;
  margin-top: 30px;
  margin-right: 10px;
}

.chat-msg-line {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 3px;
}

.chat-message {
  display: flex;
  align-items: center;
  column-gap: 10px;
  max-width: 250px;
  overflow: hidden;
  word-break: break-word;
  background-color: rgb(65, 67, 72);
  border-radius: 20px;
  padding: 5px 15px;
  color: white;
  font-size: 16px;
}

.chat-msg-header {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.chat-msg-portrait {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-msg-text {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  align-items: center;
}

.chat-msg-address {
  color: gray;
  font-size: 12px;
}

.other-line {
  align-self: flex-start;
}

.my-line {
  align-self: flex-end;
  justify-content: flex-end;
}

.other-message {
  border-bottom-left-radius: 0;
}

.my-message {
  border-bottom-right-radius: 0;
  background-color: green;
}

.chat-msg-time {
  display: flex;
  font-size: 13px;
  color: gray;
  margin-top: -3px;
}

.chat-page-send-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 10px;
}

.chat-input-message {
  flex-grow: 1;
  border-radius: 10px;
  border: 1px solid rgb(85, 103, 169);
  padding: 5px 10px;
  margin-right: 20px;
  height: 42px;
}

.chat-send-button {
  width: 90px;
  height: 40px;
  font-size: 18px;
  color: black;
  background-color: rgb(189, 239, 189);
  border-radius: 10px;
  border: 2px solid rgb(46, 75, 180);
  margin-left: 10px;
}

.chat-page-list-container {
  display: flex;
  column-gap: 15px;
  padding-bottom: 6px;
  overflow-x: auto;
}

.chat-page-list {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
}

.chat-page-list:hover {
  background-color: rgb(238, 232, 232);
}

.chat-page-list.selected {
  background-color: rgb(238, 232, 232);
}

.chat-page-list-portrait {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.chat-page-list-nickname {
  font-size: 16px;
  font-weight: 600;
}

.chat-page-list-addr {
  font-size: 12px;
  color: gray;
}

@media (max-width: 650px) {
  .chat-page {
    padding: 10px;
    padding-bottom: 100px;
  }

  .chat-page-messages-container {
    height: 430px;
  }
}